body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-top: 100px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: black;
}

.result {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  border: 5px solid black;
  border-radius: 15px;
  padding: 50px 100px;
  align-self: center;
  font-size: 50px;
  color: white;
  max-width: 190px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.575);
  border-radius: 15px;
  color: white;
  font-size: 20px;
}

.zero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.575);
  border-radius: 15px;
  color: white;
  font-size: 20px;
}

.first-row,
.second-row,
.third-row,
.last-row {
  display: flex;
  background-color: black;
}

.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(226, 159, 72);
  border-radius: 15px;
  color: white;
  font-size: 20px;
}

.operator:focus {
  background-color: rgb(177, 105, 11);
}

.operators {
  align-self: flex-end;
}
